@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200..800&display=swap');

*{
    margin: 0;
}

body {
    font-family: "Sora", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #FAFAF9;
}

main {
    
    width: 100vw;
    max-width: 1280px;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 360px;
    min-height: 360px;
    background-color: #FFFFFF;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.05);
    border-radius: 1rem;
}

.cardBody{
    padding: 1rem;
}

.cardImg img {
    max-width: 100%;
    border-radius: 0.75rem;
}

.cardTag{
    display: inline-block;
    padding: 0.25rem 1rem;
    border-radius: 1rem;
    margin: 0.5rem 0 1rem 0;
    font-size: 0.625rem;
    font-weight: 700;
    color: #883AE1;
    background-color: #E6D6FC;
}

.cardTitle{
    font-size: 1.125rem;
    font-weight: bold;
    color: #20293A;
    margin-bottom: 0.5rem;
}

.cardText{
    font-size: 0.875rem;
    font-weight: 300;
    color: #6C727F;
    line-height: 1.25rem;
}

hr{
    margin: 0;
    border-top: #6C727F;
}

.cardFooter{
    font-size: 0.75rem;
    padding: 1rem;
}

.cardFooter p{
    margin: 0.25rem;
    color: #6C727F;
}